<%= simple_form_for([:admin, @prerequisite]) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="form-group">
        <%= f.input :name, input_html: { class: 'form-control' } %>
      </div>
      <% if @prerequisite.new_record? %>
        <div class="form-group text-center">
          <%= link_to 'Voltar', admin_prerequisites_path, class: 'btn btn-default' %> <%= f.submit 'Cadastrar', class: "btn btn-primary" %>
        </div>
      <% else %>
        <div class="form-group text-center">
          <%= link_to 'Voltar', admin_prerequisites_path, class: 'btn btn-default' %> <%= f.submit 'Atualizar', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>