<h1>Profissionais</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome Completo</th>
      <th>Data de Criação</th>
      <th class="text-center" width="20%">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @professionals.each do |professional| %>
      <tr>
        <td><%= professional.name %></td>
        <td><%= l(professional.created_at, format: :short) %></td>
        <td class="text-center">
          <%= link_to admin_professional_path(professional) do %>
            <span class="glyphicon glyphicon-search btn btn-default btn-sm"></span>
          <% end %>
          <%= link_to edit_admin_professional_path(professional) do %>
            <span class="glyphicon glyphicon-pencil btn btn-default btn-sm"></span>
          <% end %>
          <%= link_to admin_professional_path(professional), method: :delete, data: { confirm: 'Você tem certeza?' } do %>
            <span class="glyphicon glyphicon-remove btn btn-danger btn-sm"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= link_to new_admin_professional_path, class: 'btn btn-primary' do %>
    Novo Profissional | <span class="glyphicon glyphicon-plus"></span>
  <% end %>
</div>