<%= simple_form_for([:admin, @category]) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="form-group">
        <%= f.input :name, input_html: { class: 'form-control' } %>
      </div>
      <div class="form-group">
        <%= f.input :parent_id, label: 'Categoria Principal', collection: @categories, input_html: { class: 'form-control chosen-select', data: { placeholder: 'Escolha a categoria'} } %>
      </div>
      <div class="form-group">
        <%= f.input :identifier, input_html: { class: 'form-control' } %>
      </div>
      <% if @category.new_record? %>
        <div class="form-group text-center">
          <%= link_to 'Voltar', admin_categories_path, class: 'btn btn-default' %> <%= f.submit 'Cadastrar', class: "btn btn-primary" %>
        </div>
      <% else %>
        <div class="form-group text-center">
          <%= link_to 'Voltar', admin_categories_path, class: 'btn btn-default' %> <%= f.submit 'Atualizar', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>