<h1>Público Alvo</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Data de Criação</th>
      <th class="text-center" width="20%">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @public_targets.each do |public_target| %>
      <tr>
        <td><%= public_target.name %></td>
        <td><%= l(public_target.created_at, format: :short) %></td>
        <td class="text-center">
          <%= link_to admin_public_target_path(public_target) do %>
            <span class="glyphicon glyphicon-search btn btn-default btn-sm"></span>
          <% end %>
          <%= link_to edit_admin_public_target_path(public_target) do %>
            <span class="glyphicon glyphicon-pencil btn btn-default btn-sm"></span>
          <% end %>
          <%= link_to admin_public_target_path(public_target), method: :delete, data: { confirm: 'Você tem certeza?' } do %>
            <span class="glyphicon glyphicon-remove btn btn-danger btn-sm"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= link_to new_admin_public_target_path, class: 'btn btn-primary' do %>
    Novo Público Alvo | <span class="glyphicon glyphicon-plus"></span>
  <% end %>
</div>