<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label>Nome:</label> <%= @user.name %>
    </div>
    <div class="form-group">
      <label>E-mail:</label> <%= @user.email %>
    </div>
    <div class="form-group">
      <label>Data de criação:</label> <%= l(@user.created_at, format: :full) %>
    </div>
  </div>
</div>
<div class="text-center">
  <%= link_to 'Voltar', admin_users_path, class: 'btn btn-default' %> <%= link_to 'Editar', edit_admin_user_path(@user), class: 'btn btn-primary' %>
</div>
