<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h1><%= @course.name %></h1>
    <div class="form-group">
      <label>Categoria:</label> <%= @course.category.name %>
    </div>
    <div class="form-group">
      <label>Nível:</label> <%= @course.level.name %>
    </div>
    <div class="form-group">
      <label>Aulas:</label> <%= @course.video_classes.count %> (<%= @course.video_classes.pluck(:title).join(',') %>)
    </div>
    <div class="form-group">
      <label>Duração:</label> <%= @course.duration %> minutos
    </div>
    <div class="form-group">
      <label>Preço:</label> <%= number_to_currency(@course.price, precision: 2) %>
    </div>
    <div class="form-group">
      <label>Data de Criação:</label> <%= l(@course.created_at, format: :full) %>
    </div>
    <div class="text-center">
      <%= link_to 'Voltar', admin_courses_path, class: 'btn btn-default' %> <%= link_to 'Editar', edit_admin_course_path(@course), class: 'btn btn-primary' %>
    </div>
  </div>
</div>