<footer>
  <!-- <div class="footer-separator">
    <div class="container">
      <div class="row margin top modules-list">
        <div class="col-md-3 col-sm-4 col-xs-12 text-center margin bottom home-box">
          <ul class="footer-menu">
            <li><a href="#">Home</a></li>
            <li><%= link_to 'Sobre Nós', about_us_path %></li>
            <li><a href="#">Módulos</a></li>
            <li><a href="#">Categorias</a></li>
            <li><%= link_to 'Nosso Embaixador', about_persil_path %></li>
            <li><%= link_to 'Política de Privacidade', privacy_policy_path %></li>
            <li><%= link_to 'Contato', contact_path %></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-4 hidden-xs text-center margin bottom home-box">
          <h4 style="font-size: 13px;">Redes Sociais</h4>
          <%= image_tag('redes-sociais.png') %>
        </div>
        <div class="col-md-3 col-sm-4 hidden-xs text-center margin bottom home-box">
          <h4 style="font-size: 13px;">Segurança</h4>
          <%= image_tag('site-blindado.png') %>
        </div>
        <div class="col-md-3 col-sm-4 hidden-xs text-center margin bottom home-box">
          <h4 style="font-size: 13px;">Formas de Pagamento</h4>
          <%= image_tag('formas-pagamento.png') %>
        </div>
      </div>
    </div>
  </div> -->
  <div class="footer-content">
    <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-6 full-width">
            <%= link_to home_url do %>
              <%= image_tag('logo-ead-branco.png', class: 'full-width') %>
            <% end %>
          </div>
          <div class="col-md-8 col-sm-6 col-xs-6">
            <span class="footer-copyright">© 2015 Foo Bar. Todos os direitos reservados.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
